html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  font-family: "Quicksand", sans-serif !important;
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.itemlist, .itemdetail{
  transition: transform 0.2s; /* Animation */
  background: url("./assets/pokeball.png");
  background-size: contain;
}

.itemlist:hover {
  transform: scale(1.15);
}

.itemdetail:hover {
  transform: scale(1.15);
}

#counter {
  border: 1px transparent solid;
}

a {
  text-decoration: none;
}

.socialMediaLinks a {
  font-size: 26px;
  margin: 0 10px 0 0;
  color: #000000;
  text-decoration: none;
}
